# COUNTRYWISE

##### Total cases per countries till the most resent date (in the 5th line), plus cases per million people

In [1]:
import pandas as pd
import numpy as np

In [2]:
path='/Users/javkhlan/Desktop/Projects/Data Visualization in Python/DB3/country_daywise.csv'
df = pd.read_csv(path)

In [3]:
most_recent_date = df['Date'].max()
most_recent_date

'2020-11-28'

In [4]:
path_pop = '/Users/javkhlan/Desktop/Projects/Data Visualization in Python/DB3/countrywise_population.csv'
population = pd.read_csv(path_pop)
population.head()

       Country  Population
0  Afghanistan    38928341
1      Albania     2877800
2      Algeria    43851043
3      Andorra       77265
4       Angola    32866268

In [5]:
df = df.loc[df['Date'] == most_recent_date]

In [6]:
df.drop(['New death', 'New recovered'], axis=1).head(3)

             Date      Country  Confirmed  Death  Recovered  Active  New cases
59401  2020-11-28  Afghanistan      45966   1752      36709    7505        127
59402  2020-11-28      Albania      36790    787      18152   17851        545
59403  2020-11-28      Algeria      81212   2393      52568   26251       1044

In [7]:
df['Death/100 Cases'] = (df['Death'] / df['Confirmed'] * 100).round(decimals=2)
df['Recovered/100 Cases'] = (df['Recovered'] / df['Confirmed'] * 100).round(decimals=2)
df['Death/100 Recovered'] = (df['Death'] / df['Recovered'] * 100).round(decimals=2)

In [8]:
df.drop(df[df['Country'] == 'Diamond Princess'].index, inplace = True)

In [9]:
df = df.reset_index(drop=True)

In [10]:
df = pd.merge(df, population, on=['Country'], how='inner')

In [11]:
df['Cases/Million People'] = (df['Confirmed'] / df['Population'] * 1000000).round(decimals=0)

In [12]:
df = df.drop(['Date'], axis=1)

In [13]:
df.head()

,Country,Confirmed,Death,Recovered,Active,New cases,New death,New recovered,Death/100 Cases,Recovered/100 Cases,Death/100 Recovered,Population,Cases/Million People
0,Afghanistan,45966,1752,36709,7505,127,12,414,3.81,79.86,4.77,38928341,1181.0
1,Albania,36790,787,18152,17851,545,16,397,2.14,49.34,4.34,2877800,12784.0
2,Algeria,81212,2393,52568,26251,1044,21,622,2.95,64.73,4.55,43851043,1852.0
3,Andorra,6610,76,5710,824,0,0,0,1.15,86.38,1.33,77265,85550.0
4,Angola,15087,345,7763,6979,79,3,66,2.29,51.45,4.44,32866268,459.0

In [14]:
df.to_csv(r'/Users/javkhlan/Desktop/Projects/Data Visualization in Python/DB3/countrywise.csv')