In [1]:
import pandas as pd

In [2]:
path = '/Users/javkhlan/Desktop/Projects/Data Visualization in Python/DB3/country_daywise.csv'

In [3]:
df = pd.read_csv(path)

In [4]:
infected = df[df.Confirmed!=0].groupby('Date').count()

In [5]:
infected.head()

,Country,Confirmed,Death,Recovered,Active,New cases,New death,New recovered
Date,,,,,,,,
2020-01-22,6,6,6,6,6,6,6,6
2020-01-23,8,8,8,8,8,8,8,8
2020-01-24,9,9,9,9,9,9,9,9
2020-01-25,11,11,11,11,11,11,11,11
2020-01-26,13,13,13,13,13,13,13,13

In [6]:
infected.drop(infected.iloc[:,1:], inplace = True, axis=1)

In [14]:
infected.rename(columns={"Country":"No. of Countries"}).head()

            No. of Countries
Date
2020-01-22                 6
2020-01-23                 8
2020-01-24                 9
2020-01-25                11
2020-01-26                13

In [8]:
df = df.groupby('Date').sum()

In [9]:
df = df.drop(['New death', 'New recovered'], axis = 1)

In [10]:
df['Death/100 Cases'] = (df['Death'] / df['Confirmed'] * 100).round(decimals=2)
df['Recovered/100 Cases'] = (df['Recovered'] / df['Confirmed'] * 100).round(decimals=2)
df['Death/100 Recovered'] = (df['Death'] / df['Recovered'] * 100).round(decimals=2)

In [11]:
#implicit inner join
df = df.merge(infected, on='Date')

In [12]:
df.tail()

,Confirmed,Death,Recovered,Active,New cases,Death/100 Cases,Recovered/100 Cases,Death/100 Recovered,Country
Date,,,,,,,,,
2020-11-24,59759508,1409252,38267861,20082395,588416,2.36,64.04,3.68,191
2020-11-25,60392453,1421308,38704717,20266428,632945,2.35,64.09,3.67,191
2020-11-26,60973650,1432047,39069813,20471790,581197,2.35,64.08,3.67,191
2020-11-27,61645535,1442664,39446275,20756596,671885,2.34,63.99,3.66,191
2020-11-28,62244181,1452410,39801717,20990054,598646,2.33,63.94,3.65,191

In [13]:
df.to_csv(r'/Users/javkhlan/Desktop/Projects/Data Visualization in Python/DB3/daywise.csv')