In [43]:
import pandas as pd
import numpy as np

In [44]:
#urls from John Hopkins University github
urlConfirmed = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
urlDeath = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
urlRecovered = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

In [45]:
#import dataframes from url
confirmed = pd.read_csv(urlConfirmed)
death = pd.read_csv(urlDeath)
recovered = pd.read_csv(urlRecovered)

In [48]:
#remove columns
confirmed = confirmed.drop(['Province/State', 'Lat', 'Long'], axis=1)
death = death.drop(['Province/State', 'Lat', 'Long'], axis=1)
recovered = recovered.drop(['Province/State', 'Lat', 'Long'], axis=1)

In [51]:
#rename columns
confirmed = confirmed.rename(columns={"Country/Region": "Country"})
death = death.rename(columns={"Country/Region": "Country"})
recovered = recovered.rename(columns={"Country/Region": "Country"})

In [57]:
#some countries have multiple province entries, hence group them
confirmed = confirmed.groupby('Country').sum().reset_index()
death = death.groupby('Country').sum().reset_index()
recovered = recovered.groupby('Country').sum().reset_index()

In [71]:
#melt
confirmed = pd.melt(confirmed, id_vars=['Country'])
death = pd.melt(death, id_vars=['Country'])
recovered = pd.melt(recovered, id_vars=['Country'])

In [73]:
#rename columns, not using rename method (HERE IS THE PROBLEM)
confirmed.columns = [['Country', 'Date', 'Confirmed']]
death.columns = [['Country', 'Date', 'Deaths']]
recovered.columns = [['Country', 'Date', 'Recovered']]

In [74]:
#rename columns, not using rename method (HERE IS THE PROBLEM)
confirmed = confirmed[['Date', 'Country', 'Confirmed']]
death = death[['Date', 'Country', 'Deaths']]
recovered = recovered[['Date', 'Country', 'Recovered']]

In [10]:
#Skip merge operation
pd.merge(confirmed, death)

           Date             Country Confirmed Deaths
0       1/22/20         Afghanistan         0      0
1       1/22/20             Albania         0      0
2       1/22/20             Algeria         0      0
3       1/22/20             Andorra         0      0
4       1/22/20              Angola         0      0
...         ...                 ...       ...    ...
50647  10/15/20  West Bank and Gaza     46100    401
50648  10/15/20      Western Sahara        10      1
50649  10/15/20               Yemen      2053    596
50650  10/15/20              Zambia     15659    346
50651  10/15/20            Zimbabwe      8075    231

[50652 rows x 4 columns]

In [11]:
#Skip merge operation
pd.merge(pd.merge(confirmed, death), recovered)

           Date             Country Confirmed Deaths Recovered
0       1/22/20         Afghanistan         0      0         0
1       1/22/20             Albania         0      0         0
2       1/22/20             Algeria         0      0         0
3       1/22/20             Andorra         0      0         0
4       1/22/20              Angola         0      0         0
...         ...                 ...       ...    ...       ...
50647  10/15/20  West Bank and Gaza     46100    401     39585
50648  10/15/20      Western Sahara        10      1         8
50649  10/15/20               Yemen      2053    596      1329
50650  10/15/20              Zambia     15659    346     14899
50651  10/15/20            Zimbabwe      8075    231      7669

[50652 rows x 5 columns]

In [12]:
#Skip merge operation
df = pd.merge(pd.merge(confirmed, death), recovered)

In [34]:
#SAVE: use whenever necessary
df.to_csv(r'/Users/javkhlan/Desktop/Projects/Data Visualization in Python/DB3/test.csv', index=False)